# Database
DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/DATABASE_NAME"

# JWT
JWT_SECRET="your-very-long-secret-key-at-least-64-characters-for-security"
JWT_EXPIRES_IN="7d"

# Server
PORT=8500
NODE_ENV=production

# CORS - Liste des origines autorisées (séparées par des virgules)
ALLOWED_ORIGINS=https://your-domain.com
